name: Release

on:
    workflow_dispatch:
        inputs:
            tag:
                description: override release tag
                required: false
    push:
        branches: ["main", "alpha", "beta", "rc"]
        paths:
            - ".changeset/**"
            - "packages/**"

permissions:
    contents: write
    packages: write

jobs:
    releaseCli:
        name: Release CLI
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup
              uses: ./.github/setup

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Configure npm for publish
              run: |
                  echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc
                  echo "access=public" >> .npmrc
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Build CLI
              run: pnpm build --filter ./apps/cli

            - name: Publish ${{inputs.tag || 'latest' }}
              uses: changesets/action@v1
              with:
                  version: pnpm changeset version
                  publish: pnpm changeset publish
                  commit: "ci(changesets): version packages"
                  setupGitUser: false
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
