name: Release

on:
    push:
        branches:
            - main

permissions:
    contents: write
    packages: write

jobs:
    prepare:
        name: Prepare
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  registry-url: https://registry.npmjs.org
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

    releaseCli:
        name: Release CLI
        runs-on: ubuntu-latest
        needs: prepare
        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4

            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  registry-url: https://registry.npmjs.org
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build CLI
              run: pnpm build --filter ./apps/cli

            - name: Create Release PR or Publish
              uses: changesets/action@v1
              with:
                  version: pnpm changeset version
                  publish: pnpm changeset publish
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
